In [1]:
#longitude and latitude-to find km through distance metric and use that variable instead of long and lat
#feature engineering-creating another variable from the existing variable
#amount-dependent variable
#do not pick the whole date column as it is,always extract some out of it..in time series data,we keep the date column as it is

#where(long and lat=0) still passenger is there,it indicates long and lat wasnt picked becoz it was water there(null island)..
#so ask the client for the real value or else drop those values as it will disrupt the model

In [63]:
import numpy as np
import pandas as pd

In [64]:
taxi_df=pd.read_csv(r"C:\Users\Admin\Downloads\TaxiFare.csv",header=0,index_col=0)
taxi_df.head()

,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
unique_id,,,,,,,
26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [65]:
taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 26:21.0 to 13:14.0
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   amount                50000 non-null  float64
 1   date_time_of_pickup   50000 non-null  object
 2   longitude_of_pickup   50000 non-null  float64
 3   latitude_of_pickup    50000 non-null  float64
 4   longitude_of_dropoff  50000 non-null  float64
 5   latitude_of_dropoff   50000 non-null  float64
 6   no_of_passenger       50000 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 3.1+ MB

In [66]:
#date_time_of_pickup datatype changes
taxi_df.date_time_of_pickup=pd.to_datetime(taxi_df.date_time_of_pickup)

In [67]:
taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 26:21.0 to 13:14.0
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   amount                50000 non-null  float64
 1   date_time_of_pickup   50000 non-null  datetime64[ns, UTC]
 2   longitude_of_pickup   50000 non-null  float64
 3   latitude_of_pickup    50000 non-null  float64
 4   longitude_of_dropoff  50000 non-null  float64
 5   latitude_of_dropoff   50000 non-null  float64
 6   no_of_passenger       50000 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(5), int64(1)
memory usage: 3.1+ MB

In [68]:
taxi_df.describe()
#latitude_of_pickup=401.083332(its a typo so consider it as outlier)

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,11.364171,-72.509756,39.933759,-72.504616,39.926251,1.667840
std,9.685557,10.393860,6.224857,10.407570,6.014737,1.289195
min,-5.000000,-75.423848,-74.006893,-84.654241,-74.006377,0.000000
25%,6.000000,-73.992062,40.734880,-73.991152,40.734371,1.000000
50%,8.500000,-73.981840,40.752678,-73.980082,40.753372,1.000000
75%,12.500000,-73.967148,40.767360,-73.963584,40.768167,2.000000
max,200.000000,40.783472,401.083332,40.851027,43.415190,6.000000

In [69]:
taxi_df=taxi_df.reset_index()

In [70]:
#dropping unique id 
taxi_df.drop("unique_id",axis=1,inplace=True) #axis=0 is default(row),axis=1 is column...inplace=false(default)

In [71]:
taxi_df.head()

,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1

In [72]:
#finding negative amount
taxi_df[taxi_df.amount<0].index

Int64Index([2039, 2486, 13032, 28839, 36722, 42337], dtype='int64')

In [73]:
#dropping those negative
taxi_df.drop(taxi_df[taxi_df.amount<0].index,axis=0,inplace=True)

In [74]:
taxi_df.shape

(49994, 7)

In [75]:
taxi_df.latitude_of_pickup.value_counts().index.sort_values(ascending=True)

Float64Index([        -74.006893,          -74.00621, -74.00402700000001,
                         -73.995,         -73.992947,          -73.99184,
                      -73.988467,         -73.987585,         -73.987307,
                      -73.986968,
              ...
                        41.03249,          41.035688,          41.150487,
                       41.366138,          41.391042, 41.523216999999995,
                           41.65,          42.160275,          43.098708,
                      401.083332],
             dtype='float64', length=36589)

In [76]:
#making change in the latitude typo 
taxi_df.latitude_of_pickup.replace(401.083332,40.1083332,inplace=True)

In [77]:
taxi_df.head()

,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1

In [78]:
#extract various date time components as separate varaiables(through date_time var we are creating 5 more variables)
taxi_df=taxi_df.assign(hour=taxi_df.date_time_of_pickup.dt.hour,
                      day=taxi_df.date_time_of_pickup.dt.day,
                      month=taxi_df.date_time_of_pickup.dt.month,    #dt.month
                      year=taxi_df.date_time_of_pickup.dt.year,
                      dayofweek=taxi_df.date_time_of_pickup.dt.dayofweek)
#assign is function
#in time series data,we keep the date column as it is

In [79]:
taxi_df.head()

,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,hour,day,month,year,dayofweek
0,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1,17,15,6,2009,0
1,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1,16,5,1,2010,1
2,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2,0,18,8,2011,3
3,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1,4,21,4,2012,5
4,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1,7,9,3,2010,1

In [80]:
#dropping date_time column
taxi_df.drop("date_time_of_pickup",axis=1,inplace=True)

In [81]:
taxi_df.head()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,hour,day,month,year,dayofweek
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17,15,6,2009,0
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16,5,1,2010,1
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,0,18,8,2011,3
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,4,21,4,2012,5
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,7,9,3,2010,1

In [82]:
taxi_df.latitude_of_pickup.value_counts()
#955 obs having 0

0.000000     955
41.366138     18
40.756007     10
40.763975      8
40.774047      7
            ...
40.764118      1
40.774749      1
40.758518      1
40.724528      1
40.722312      1
Name: latitude_of_pickup, Length: 36589, dtype: int64

In [83]:
#drop those 0 values observation
taxi_df.drop(taxi_df[taxi_df.latitude_of_pickup==0].index,inplace=True)  #make sure to use .index

In [84]:
taxi_df.shape

(49039, 11)

In [85]:
pip install haversine

Requirement already satisfied: haversine in c:\users\admin\anaconda3\lib\site-packages (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [86]:
#haversine-distance metric to compute geographical distance of long and lat given uses euclidean distance
from haversine import haversine, Unit

#source,destination(row[s]row,[d])
#df.apply(lambda x: func(x['col1'],x['col2']),axis=1)
#haversine((lat1,long1),(lat2,long2)).....logic behind below code

taxi_df['travel_dist_km']=taxi_df.apply(lambda row: haversine((row["latitude_of_pickup"],row["longitude_of_pickup"]),  #s,d
                                                              (row["latitude_of_dropoff"],row["longitude_of_dropoff"]),
                                                              unit=Unit.KILOMETERS),axis=1)

#unit.km since we want our unit in km,as travelling in taxi

In [87]:
taxi_df.head()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,hour,day,month,year,dayofweek,travel_dist_km
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17,15,6,2009,0,1.030765
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16,5,1,2010,1,8.450145
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,0,18,8,2011,3,1.389527
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,4,21,4,2012,5,2.799274
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,7,9,3,2010,1,1.999160

In [88]:
#dropping long and lat columns
taxi_df.drop(["longitude_of_pickup","latitude_of_pickup","longitude_of_dropoff","latitude_of_dropoff"],axis=1,inplace=True)

In [89]:
taxi_df.head()

   amount  no_of_passenger  hour  day  month  year  dayofweek  travel_dist_km
0     4.5                1    17   15      6  2009          0        1.030765
1    16.9                1    16    5      1  2010          1        8.450145
2     5.7                2     0   18      8  2011          3        1.389527
3     7.7                1     4   21      4  2012          5        2.799274
4     5.3                1     7    9      3  2010          1        1.999160

In [90]:
X=taxi_df.values[:,1:]  #x[row],y[column]
Y=taxi_df.values[:,0]

print(X.shape) #r,c
print(Y.shape)

(49039, 7)
(49039,)

In [91]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

scaler.fit(X)
X=scaler.transform(X)

In [92]:
print(X)

[[-0.51863839  0.54067002 -0.07708181 ... -1.46942782 -1.54952596
  -0.04093064]
 [-0.51863839  0.38690108 -1.23188423 ... -0.9331648  -1.03830269
  -0.01178857]
 [ 0.25634814 -2.07340198  0.26935892 ... -0.39690178 -0.01585617
  -0.03952149]
 ...
 [-0.51863839 -1.45832622  1.65512182 ... -0.39690178  1.51781362
  -0.0360895 ]
 [ 0.25634814 -0.99701939 -1.11640398 ...  0.13936124 -1.03830269
  -0.04236634]
 [-0.51863839 -0.84325045 -0.30804229 ... -0.9331648  -0.52707943
  -0.04497932]]

In [93]:
#split the data into train and test
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.3,random_state=10)

In [94]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(34327, 7)
(34327,)
(14712, 7)
(14712,)

# Decision Tree Regressor

In [95]:
#CRITERION(mse-regressor,gini-categorical)
#predicting using the Decision_Tree_Regressor

from sklearn.tree import DecisionTreeRegressor

model_DecisionTree=DecisionTreeRegressor(criterion="mse",random_state=10)    #mse is default(now in new version:squared_error)

#fit the model on the data and predict the values
model_DecisionTree.fit(X_train,Y_train)
Y_pred=model_DecisionTree.predict(X_test)
print(Y_pred)

[ 5.5 11.5 13.  ...  5.7  7.3  7.3]

In [96]:
model_DecisionTree.score(X_train,Y_train)
#basically finding accuracy on score function
#R-squared: 0.4962157029638453 is less then too score is predicting 1 which is case of overfitting and the model is bad

1.0

In [97]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)
#not a good model

R-squared: 0.4962157029638453
RMSE: 6.810126684240944
Adj R-square: 0.4961437792812924

In [98]:
#pruning now
#CRITERION(mse-regressor,gini-categorical)
#predicting using the Decision_Tree_Regressor

from sklearn.tree import DecisionTreeRegressor

model_DecisionTree=DecisionTreeRegressor(max_depth=5,min_samples_leaf=5,random_state=10)    #depth level

#fit the model on the data and predict the values
model_DecisionTree.fit(X_train,Y_train)
Y_pred=model_DecisionTree.predict(X_test)
print(Y_pred)

[ 5.57594595  9.87529775 13.93276403 ...  7.31967228  7.31967228
  8.35001304]

In [99]:
model_DecisionTree.score(X_train,Y_train)
#R-squared: 0.7420697425487477,score also somewhere near fair enough now

0.7661672803087499

In [100]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.7420697425487477
RMSE: 4.872861003661966
Adj R-square: 0.7420329186658541

In [101]:
print(list(zip(taxi_df.columns[1:],model_DecisionTree.feature_importances_)))
#travel_dis is max,it is contributing more,can be seen in heading of decision tree(while split its used the most) and other var 
#not that much respectively,
#higher the importance that variable will be used the most for splitting in decision tree

[('no_of_passenger', 0.0), ('hour', 0.00036626593956814605), ('day', 0.0), ('month', 0.0), ('year', 0.021750939499978608), ('dayofweek', 0.0), ('travel_dist_km', 0.9778827945604531)]

In [102]:
from sklearn import tree
with open(r"model_DecisionTree.txt", "w") as f:
    
    f = tree.export_graphviz(model_DecisionTree, feature_names=taxi_df.columns[1:],
                             out_file=f)
    
#generate the file and upload the code in webgraphviz.com to plot the decision tree

# Random Forest Regressor

In [103]:
#predicting using the Random_Forest_Regressor

from sklearn.ensemble import RandomForestRegressor

model_RandomForest=RandomForestRegressor(n_estimators=100,random_state=10,bootstrap=True,    #true is default
                                         max_features=0.6)    #100 bags=100DT(def 100),false but without replacement,4 var max_fe

#fit the model on the data and predict the values
model_RandomForest.fit(X_train,Y_train)
Y_pred=model_RandomForest.predict(X_test)

#max_features=None in DT default
#max_features="auto",in randomforest default..you can pass any valuemax_features=4(out of 6 indep var it will pick 4 var)

In [104]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.7425825536093239
RMSE: 4.868014537948877
Adj R-square: 0.7425458029388351

In [105]:
model_RandomForest.score(X_train,Y_train)
#R-squared: 0.7425825536093239,again overfitting when compared with Rsquared

0.9663386215226366

In [106]:
#PRUNING
#predicting using the Random_Forest_Regressor

from sklearn.ensemble import RandomForestRegressor

model_RandomForest=RandomForestRegressor(n_estimators=100,random_state=10,bootstrap=True,    #true is default
                                         max_depth=5,min_samples_leaf=5)    #100 bags=100DT(def 100),false but without replacement,4 var max_fe

#fit the model on the data and predict the values
model_RandomForest.fit(X_train,Y_train)
Y_pred=model_RandomForest.predict(X_test)

#max_features=None in DT default
#max_features="auto",in randomforest default..you can pass any valuemax_features=4(out of 6 indep var it will pick 4 var)

In [107]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)
#good model then before

R-squared: 0.7475864301373605
RMSE: 4.820468255289968
Adj R-square: 0.7475503938544162

In [108]:
model_RandomForest.score(X_train,Y_train)

0.7729275584361667

In [109]:
print(list(zip(taxi_df.columns[1:],model_RandomForest.feature_importances_)))
#travel dis is max ,year

[('no_of_passenger', 4.887815178938716e-05), ('hour', 0.001363434017768983), ('day', 0.00033641303629344127), ('month', 0.0002636820969736327), ('year', 0.0220512501904795), ('dayofweek', 0.0003442718678747551), ('travel_dist_km', 0.9755920706388204)]

In [110]:
# KNN and SVM not suitable here as, it is suitable for less amount of data......r sq comes in negative
#linear also not suitable coz when checked with matplotlib there was no linearity betweeen the variables